<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Blank 2
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-content fullscreen *ngIf="user">
		<ion-card>
			<img [src]="user?.picture.data.url" alt="" />
			<ion-card-header>
				<ion-card-subtitle>{{user?.email}}</ion-card-subtitle>
				<ion-card-title
					>{{user?.name}}
					<ion-chip>
						<ion-label [color]="user?.gender =='male'? 'primary':'danger'   "
							>{{user?.gender =='male'? 'Hombre':'Mujer'}}</ion-label
						>
					</ion-chip>
				</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				{{user | json}}
			</ion-card-content>
		</ion-card>
	</ion-content>

	<ion-content fullscreen *ngIf="google">
		<ion-card>
			<img [src]="google?.imageUrl" alt="" />
			<ion-card-header>
				<ion-card-subtitle>{{google?.email}}</ion-card-subtitle>
				<ion-card-title>
					{{google?.displayName}}
				</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				{{google | json}}
			</ion-card-content>
		</ion-card>
	</ion-content>

	<ion-button (click)="facebok()">
		<ion-icon name="logo-facebook"></ion-icon>
		login con facebook
	</ion-button>

	<ion-button (click)="fngoogle()">
		<ion-icon name="logo-google"></ion-icon>
		login con google
	</ion-button>
</ion-content>
